html {
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	background-color: #9dcbfc;
	margin: 0;
    font-family: 'Asap';
}

h1 {
	margin: 0;
	font-family: 'Lobster';
	color: #fff;
	font-weight: normal;
}

h2 {
    margin: 0;
    font-family: 'Lobster';
    color: #fff;
    font-weight: normal;
}

h3 {
	font-family: 'Asap';
	color: white;
	font-weight: normal;
}

p {
    font-family: 'Asap';
    color: white;
    font-weight: normal;
}

ul {
    font-family: 'Asap';
    color: white;
    font-weight: normal;
    padding: 0 2em 1em 2em;
}

.fullwidth {
	width: 100%;
	height: auto;
}

.content {
    margin-top: -10px;
	background-color: #193a35;
}

.skewed {
       -moz-transform: rotate(-5deg) skew(-5deg, 0);
    -webkit-transform: rotate(-5deg) skew(-5deg, 0);
        -ms-transform: rotate(-5deg) skew(-5deg, 0);
         -o-transform: rotate(-5deg) skew(-5deg, 0);
            transform: rotate(-5deg) skew(-5deg, 0);
    
}

h1.skewed {
	margin-top: 0.8em;
    font-family: 'Lobster';
    font-size: 6em;
    text-shadow: 3px 4px 0 #4F667E;
    color: #ffe680;
    font-weight: bold;
    font-variant: all-caps;
}

h2.skewed {
	margin-top: -0.3em;
    margin-bottom: 0.6em;

    font-family: 'Lobster';
    font-size: 4em;
    text-shadow: 2px 3px 0 #4F667E;
    color: #ffffff;
}

h3.skewed {
	margin-top: -1em;
    font-family: 'Asap';
    font-size: 2em;
    color: #ffffff;
    font-weight: normal;
    text-shadow: 2px 3px 0 #4F667E;
}

.quote-container {
    padding-top: 3.5em;
	width: 100%;    
    background-color: #0A211C;
    padding-bottom: 0.5em;
    webkit-box-shadow:inset 0px 40px 40px -40px rgba(0,0,0,0.75);
    -moz-box-shadow:inset 0px 40px 40px -40px rgba(0,0,0,0.75);
    box-shadow:inset 0px 40px 40px -40px rgba(0,0,0,0.75);
}

.quote {
    width: 28em;    
    margin: 0em auto 6em auto;
    padding-top: 2em;
}

.highlight {
	color: #ffe680;
}

.hide {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.show {
    max-height: 10000px;
    opacity: 1;
    visibility: visible;
}

.darken {
    background-color: rgba(0,0,0,0.8) !important;
}

.hidden-content {
    -webkit-transition: max-height 1s, opacity 1s;
    transition: max-height 1s, opacity 1s;
}

#sticky-wrapper-1 {
    position: relative;
    z-index: 10;

    -webkit-box-shadow: 0px -40px 40px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -40px 40px -40px rgba(0,0,0,0.75);
    box-shadow: 0px -40px 40px -40px rgba(0,0,0,0.75);
}

#sticky-container-1 {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 5;
    text-align: center;
    background-color: #113830;

    -webkit-box-shadow: 00px 0px 40px 00px rgba(0,0,0,0.75);
    -moz-box-shadow: 00px 0px 40px 000px rgba(0,0,0,0.75);
    box-shadow: 00px 0px 40px 00px rgba(0,0,0,0.75);
}

#sticky-content-1 {
    margin-left: auto;
    margin-right: auto;
}

#sticky-slider-1 {
    position: relative;
    width: 50%;

    float: right;
    background-color: #d5e4dd;
    -webkit-box-shadow: inset 40px 0px 40px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 40px 0px 40px -40px rgba(0,0,0,0.75);
    box-shadow: inset 40px 0px 40px -40px rgba(0,0,0,0.75);
}

#section-title-1 {
    text-align: center;
    color: white;
    font-family: 'Lobster';
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);

       -moz-transform: rotate(-10deg) skew(-10deg, 0);
    -webkit-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
}



#sticky-wrapper-2 {
    position: relative;

    -webkit-box-shadow: 0px -40px 40px 40px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -40px 40px 40px rgba(0,0,0,0.75);
    box-shadow: 0px -40px 40px 40px rgba(0,0,0,0.75);
    z-index: 5;
}

#sticky-container-2 {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: #113830;

    -webkit-box-shadow: 00px 0px 40px 00px rgba(0,0,0,0.75);
    -moz-box-shadow: 00px 0px 40px 000px rgba(0,0,0,0.75);
    box-shadow: 00px 0px 40px 00px rgba(0,0,0,0.75);
}

#sticky-content-2 {
    margin-left: auto;
    margin-right: auto;
}

#sticky-slider-2 {
    z-index: -1;
    position: relative;
    width: 50%;
    float: left;
    background-color: gray;
    -webkit-box-shadow: inset -40px 0px 40px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -40px 0px 40px -40px rgba(0,0,0,0.75);
    box-shadow: inset -40px 0px 40px -40px rgba(0,0,0,0.75);
}

#section-title-2 {
    text-align: center;
    color: white;
    font-family: 'Lobster';
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);

       -moz-transform: rotate(-10deg) skew(-10deg, 0);
    -webkit-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
}

.slider-content {
width: 100%;
}

.slider-text {
    color: #143F38;
    position: relative;
}

.slider-content h1 {
    /*color: #FFE680;*/
    text-shadow: 1.5px 2px 0 rgba(0,0,0,0.5);
    /*margin-top: 1em;*/
    margin-bottom: 0em;
    font-size: 2.2em;
}

.slider-content h2 {
    font-family: 'Asap';
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0em;
    text-shadow: 1.5px 2px 0 rgba(0,0,0,0.5);

}

.slider-content h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0em;
    text-shadow: 1.5px 2px 0 rgba(0,0,0,0.5);

}

.slider-content ul {
    text-align: left;
}

.slider-banner-1 {
    position: relative;
    z-index: 2;
    width: 90%;
    padding: 5%;
    background-color: #355A54;
}

.slider-banner-1 h2 {
    color: #FFE680;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    margin-bottom: 1em;
    font-family: 'Lobster';
    font-size: 1.5em;
    font-weight: normal;
}

.slider-banner-1 span {
    padding: 0 0.5em;
}

.slider-banner-2 {
    width: 90%;
    padding: 5%;
    background-color: #355A54;
}

.slider-banner-2 h2 {
    color: #FFE680;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    margin-bottom: 1em;
    font-family: 'Lobster';
    font-size: 1.5em;
    font-weight: normal;
}

.slider-banner-2 span {
    padding: 0 1em;
}

.clear {
    clear: both;
}

#conclusion {
    padding-bottom: 2.5em;
    display: block;
    background-color: #0A211C;

    -webkit-box-shadow: inset 0px 40px 40px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 40px 40px -40px rgba(0,0,0,0.75);
    box-shadow: inset 0px 40px 40px -40px rgba(0,0,0,0.75);
}

#conclusion h1 {
    margin-top: 1em;
    font-size: 3em;
}

#footer {
    display: block;
    position: relative;
    height: 14em;
    background-color: #355A54;
    z-index: 10;

    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

#footer h1 {
    margin-top: 1em;
    font-size: 3em;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
    color: #ffe680;
       -moz-transform: rotate(-10deg) skew(-10deg, 0);
    -webkit-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
}

#footer p {
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}

#certifications {
    position: relative;
    width: 50%;
    float: left;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}

#skills {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}

.contact-info-title {
    font-weight: bold;
    color: #ffe680;
}


#contact-title {
    position: relative;
    width: 50%;
    padding: 3em 0;
    /*height: 100%;*/

    float: left;
    background-color: #113830;

    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

#contact-title h1 {
margin: 0;
}

#contact-content {
    position: relative;
    width: 50%;
    padding: 1.5em 0;
    /*height: 100%;*/

    float: right;
    background-color: #355A54;

    font-size: 1.5em;
    -webkit-box-shadow: inset 40px 0px 40px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 40px 0px 40px -40px rgba(0,0,0,0.75);
    box-shadow: inset 40px 0px 40px -40px rgba(0,0,0,0.75);
}

.contact-info-title {
    font-weight: bold;
    color: #ffe680;
}

span.protected-content:before {
    content: attr(title);
}

.no-select {

}

#end {
    margin-top: -1em;
    position: relative;
    display: block;
    height: 4em;
    background-color: black;
    z-index: 11;
}


.section-title {
    text-align: center;
    color: white;
    font-family: 'Lobster';
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);

       -moz-transform: rotate(-10deg) skew(-10deg, 0);
    -webkit-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
}

.slider-text-shader {
    padding: 2em;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.slider-text-shader img {
    margin: 1em 0;
}

.leadership {
    position: relative;
    background-image: url("../img/leadership.jpg");
    background-size: cover;
    background-position: center;
}

.summercamp {
    position: relative;
    background-image: url("../img/summercamp.jpg");
    background-size: cover;
    background-position: center;
}

.afterschool {
    position: relative;
    background-image: url("../img/afterschool.jpg");
    background-size: cover;
    background-position: center;
}

.backpocket {
    position: relative;
    background-image: url("../img/backpocket.png");
    background-size: cover;
    background-position: center;
}

.growth {
    position: relative;
    background-image: url("../img/growth.jpg");
    background-size: cover;
    background-position: center;
}

.sloops {
    position: relative;
    background-image: url("../img/sloops.jpg");
    background-size: cover;
    background-position: center;
}

.sasamat {
    position: relative;
    background-image: url("../img/sasamat.png");
    background-size: cover;
    background-position: center;
}

.expander {
    padding: 0.5em 0.7em;
    margin-bottom: 1em;
    background-color: #113830;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 1s, color 1s, padding 1s; /* Safari */
    transition:  background-color 1s, color 1s, padding 1s;
}

.expander:hover {
    padding:0.7em 0.9em;
    background-color:white;
    color: #113830;
}

.button {
    padding: 0.3em 0.5em;
    margin-bottom: 1em;
    background-color: #113830;
    color: white;
    /*font-weight: bold;*/
    text-decoration: none;
    -webkit-transition: background-color 1s, color 1s, padding 1s; /* Safari */
    transition:  background-color 1s, color 1s, padding 1s;
}

.button:hover {
    padding:0.5em 0.7em;
    background-color:white;
    color: #113830;
}

.hidden-content img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .fullwidth {
        margin-left: -10%;
        width: 120%;
        height: auto;
    }
}

@media screen and (max-width: 840px) {
    .fullwidth {
        margin-left: -30%;
        width: 160%;
        height: auto;
    }

    .slider-banner-1 span {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .fullwidth {
        margin-left: -40%;
        width: 180%;
        height: auto;
    }

    h1.skewed {
        margin-top: 1.5em;
        font-size: 4em;
    }

    h2.skewed {
        font-size: 2.6em;
    }

    h3.skewed {
        font-size: 1.3em;
        text-shadow: 1px 2px 0 #4F667E;
    }

    #sticky-container-1 {
        display: block;
        position:relative;
        width: 100%;
        padding: 3em 0 3.5em 0;
    }

    #sticky-content-1 {
       display: block;
       position:relative;
       width: 100%;
    }

    #sticky-slider-1 {
       display: block;
       position:relative;
       width: 100%;
    }

    #section-title-1 {
        display: block;
        position:relative;
        width: 100%;
    }


    #sticky-container-2 {
        display: block;
        position:relative;
        width: 100%;
        padding: 3em 0 3.5em 0;
    }

    #sticky-content-2 {
       display: block;
       position:relative;
       width: 100%;
    }

    #sticky-slider-2 {
       display: block;
       position:relative;
       width: 100%;
    }

    #section-title-2 {
        display: block;
        position:relative;
        width: 100%;
    }

    #certifications {
        width: 100%;
        display: block;
     }

    #skills {
       width: 100%;
        display: block;
    }

    #contact-title {
        width: 100%;
        display: block;
     }

    #contact-content {
       width: 100%;
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .fullwidth {
        margin-left: -40%;
        width: 180%;
        height: auto;
    }

    h1.skewed {
        font-size: 3em;
    }

    h2.skewed {
        font-size: 2em;
    }

    h3.skewed {
        font-size: 1em;
    }
}